[init]
    templatedir = ~/.dotfiles/.git_template
[alias]
    ctags = !.git/hooks/ctags
[alias]
    st = status
    co = checkout
    pd = rev-parse --show-toplevel
[alias]
    lg1  = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lg1a = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2  = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg2a = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg  = !"git lg1"
    lga = !"git lg1a"
    meld = !/home/niall/software/git-meld/git-meld.pl
    compare = log --left-only --graph --cherry-pick --oneline
    show-merges = "!f() { git log --merges --first-parent \"$1\"; }; f"
    show-merges-short = "!f() { git log --merges --first-parent --oneline \"$1\"; }; f"
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	default = simple
[core]
	pager = less -S
